.enterprise
    &__h1, &__h2
        color: primary

    &__h1, &__h2, &__h3
        margin: 0

    &__h1
        margin-bottom: 20px
        font-weight: bold
        font-size: 30px
        line-height: 1.1

        span
            color: #707070
            font-weight: light
            font-size: 40px

        @media (min-width: 992px)
            font-size: 45px
            line-height: 1.3

            span
                font-size: 60px

    &__h2
        margin: 20px 0
        font-weight: light
        font-size: 20px
        line-height: 1.2

        @media (min-width: 992px)
            font-size: 33px

    &__h3
        font-weight: bold
        font-size: 20px

        @media (min-width: 992px)
            font-size: 30px

        &--red
            color: red

        &--blue
            color: blue

    &__h5
        font-weight: regular
        font-size: 14px

        @media (min-width: 992px)
            font-size: 20px

    &__text
        margin: 0
        padding: 15px 0
        color: text
        font-weight: regular
        font-size: 14px

        @media (min-width: 992px)
            font-size: 16px

        p
            margin: 10px 0
            line-height: 1.5

        strong
            color: primary
            font-weight: bold

    &__container
        display: flex
        margin: 0 auto
        min-width: 0
        max-width: calc(100% - 30px)
        width: viewport

        @media (min-width: 992px)
            &:before
                display: block
                flex: 0 0 110px
                margin-right: 85px
                min-height: 505px
                background-image: url('images/bg03.jpg')
                background-size: cover
                content: ''
                object-fit: cover

    &__inner
        flex: 1
        min-width: 0

    &__image
        display: flex
        flex: 1
        justify-content: center
        align-items: center
        margin: 20px
        min-height: 0

    &__figure
        display: flex
        flex-flow: column nowrap
        min-height: 190px
        border-width: 3px
        border-style: solid

        @media (min-width: 992px)
            flex: 0 0 150px
            margin-right: 35px

        &--red
            border-color: red

            .enterprise__label
                background: @border-color

        &--blue
            border-color: blue

            .enterprise__label
                background: @border-color

        &--orange
            border-color: orange

            .enterprise__label
                background: @border-color

        &--green
            border-color: green

            .enterprise__label
                background: @border-color

        .enterprise__label
            display: flex
            justify-content: center
            align-items: center
            padding: 0 12px
            min-height: 47px
            color: #fff
            font-weight: bold
            font-size: 16px
            line-height: 1

    &__item
        @extend .enterprise__text

        @media (max-width: 991px)
            flex-direction: column
            align-items: center

        @media (min-width: 992px)
            display: flex
            flex: 0 1 50%
            align-items: center
            box-sizing: border-box
            padding: 15px
            min-width: 0

        &--max
            @media (min-width: 992px)
                max-width: 100%
                width: 390px

    &__content
        margin: 0
        padding: 0
        line-height: 1.3

        @media (max-width: 991px)
            padding-top: 15px

        &--list
            li
                display: flex
                list-style: none

                &:not(:last-child)
                    margin-bottom: 15px

                &:before
                    flex: 0 0 7px
                    margin-top: 6px
                    margin-right: 10px
                    width: 7px
                    height: 7px
                    border-radius: 50%
                    background: blue
                    content: ''

        &--green li:before
            background: green

        &--down
            align-self: flex-end

    &__one
        @media (min-width: 992px)
            margin: 10px -15px 20px

    &__two
        @media (min-width: 992px)
            display: flex
            flex-flow: row wrap
            justify-content: space-between
            margin: -15px -15px 20px

    &__list
        display: flex
        flex-flow: row wrap
        align-items: center
        margin-bottom: 40px

    &__customer, &__brand
        display: inline-block
        flex: 0 1 95px
        padding: 5px 25px
        min-width: 0
        text-align: center

        img
            display: inline-block
            max-width: 100%
            object-fit: contain