// Variables
primary = #0b2668
primary-contrast = #fff
primary-hover = lighten(primary, 20%)
primary-hover-contrast = #fff
whatsapp = #67c15e
chat = #f05913
messenger = #007fff
email = primary
text = #707070
// Font Weight
light = 300
regular = 400
semibold = 600
bold = 700
extra-bold = 800
// 
viewport = 980px

html, body
    margin: 0
    padding: 0

body
    font-family: 'Open Sans', sans-serif

:focus
    outline: none

@import './stores.styl'
@import './institute.styl'